<div class="main-product">
    <div class="product" *ngFor="let item of products">
        <div class="photo">
            <a href="#"><img src={{item.photo}} alt=""></a>
        </div>
        <div class="info">
            <div class="product-name">
                <p>{{item.name}}</p>
            </div>
            <div class="product-cost">
                <p>{{item.cost}}$</p>
            </div>
            <div class="raise-btn"><button (click)="onClickEvent(item.id)">Raise</button></div>
        </div>
    </div>
    <div class="creator">
        <div class="header">
            <h1>Creator</h1>
        </div>
        <div class="creator-body">
            <div class="inputBox">
                <div class="creatorInputName">Name</div><input id="name" type="text" class="form-control"
                    [formControl]="name">
            </div>
            <div class="inputBox">
                <div class="creatorInputName">Cost</div><input id="cost" type="text" class="form-control"
                    [formControl]="cost">
            </div>
            <div class="inputBox">
                <div class="creatorInputName">Definition</div><input id="def" type="text" class="form-control"
                    [formControl]="def">
            </div>
            <div class="inputBox">
                <div class="creatorInputName">Photo</div><input id="photo" type="text" class="form-control"
                    [formControl]="photo">
            </div>
            <div id="addButton">
                <button (click)="onClickAdd()">Add</button>
            </div>
        </div>
    </div>
</div>