.main-product {
    display: flex;
}

.inputBox{
    display: flex;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    background-color: chocolate;
}

.product {
    width: 250px;
    height: 380px;
    position: relative;
    background-color: white;
    margin: 20px;
}

.photo {
    width: 200px;
    height: 200px;
    border: solid 1px black;
    background-color: rgb(175, 255, 151);
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
}

img {
    object-fit: cover;
    max-width: 200px;
    max-width: 200px;
}

.info {
    width: 200px;
    height: 100px;
    background-color: rgb(151, 222, 255);
    position: absolute;
    margin-left: 25px;
    margin-top: 230px;
}

.product-name {
    margin: 20px;
    background-color: rgb(243, 151, 255);
    text-align: center;
}

.product-cost {
    margin: 20px;
    background-color: rgb(239, 255, 151);
    text-align: center;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.raise-btn{
    margin: auto;
    width: 50%;
}

.creator{
    width: 300px;
    height: 500px;
    background-color: white;
    margin: 20px;
}

.header{
    width: 300px;
    height: 50px;
    background-color: rgb(212, 255, 131);
}

.creator-body{
    width: 300px;
    height: 325px;
    margin-top: 20px;
    background-color: rgb(131, 210, 255);
}

h1{
    text-align: center;
    text-justify: auto;
}

input[type="text"] {
    color: #fff;
    background-color: #4CAF50;
    width: 180px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;
    float: top;
    padding: 0 10px 0 10px;
    font-size: 18px;
}

.creatorInputName{
    width: 40;
    height: 30px;
    margin: auto;
    margin-left: 15px;
    background-color: gold;
}

#addButton{
    margin-top: 25px;
    margin-left: 100px;
}