/* nav {
    position: fixed;
    top: 10px;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    display: inline-table;
}

ul>li>a {
    color: #ffbe5c;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 10px;
}

.border {
    position: absolute;
    background: #DC3522;
    height: 5px;
    transition: width 0.3s, left 0.3s;
} */