/* .ang{
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: relative;
    left: 100px;
    top: 100px;
}

.ang:hover{
    transform: scale(0.5);
    background-color: rgb(255, 0, 0);
    transition: all 2s ease-in-out;
}

.ahmed{
    font-size: 36px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.ang:hover .ahmed{
    font-size: 18px;
    color: aliceblue;
    transition: all 2s ease-in-out;
} */

.table{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    margin: 10px;
}

.table:hover{
    transform: scale(0.5);
    background-color: rgb(255, 0, 0);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}